<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Réinitialiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="header">
      <ion-title class="title">
        Enter your email
        <p class="subTitle">Pour recevoir un lien de password</p>
      </ion-title>
  </div>
  <div>
    <ion-item>
      <ion-input class="input"placeholder="Enter your email">
        <ion-icon name="person-outline"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
